<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.being.mapper.WalletInfoMapper">
  <resultMap id="BaseResultMap" type="com.being.model.WalletInfo">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="available_balance" jdbcType="DOUBLE" property="availableBalance" />
    <result column="lock_balance" jdbcType="DOUBLE" property="lockBalance" />
    <result column="activity_balance" jdbcType="DOUBLE" property="activityBalance" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="create_id" jdbcType="BIGINT" property="createId" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="update_id" jdbcType="BIGINT" property="updateId" />
  </resultMap>
  <insert id="insert" parameterType="com.being.model.WalletInfo"  keyProperty="id" useGeneratedKeys="true">
    insert into wallet_info (user_id, available_balance, 
      lock_balance, activity_balance, create_time, create_id,  update_time, update_id
      )
    values (#{userId,jdbcType=BIGINT}, #{availableBalance,jdbcType=DOUBLE}, #{lockBalance,jdbcType=DOUBLE}, 
     		#{activityBalance,jdbcType=DOUBLE}, #{createTime,jdbcType=TIMESTAMP}, #{createId,jdbcType=BIGINT}, 
     		 #{updateTime,jdbcType=TIMESTAMP}, #{updateId,jdbcType=BIGINT}
      )
  </insert>
  <update id="updateByUserId" parameterType="com.being.model.WalletInfo">
    update wallet_info
    set user_id = #{userId},
      <if test="availableBalance != null">available_balance = #{availableBalance},</if>
      <if test="lockBalance != null">lock_balance = #{lockBalance},</if>
      <if test="activityBalance != null">activity_balance = #{activityBalance},</if>
      <if test="updateTime != null">update_time = #{updateTime},</if>
      <if test="updateId != null">update_id = #{updateId},</if>
      user_id = #{userId}
    where user_id = #{userId,jdbcType=BIGINT}
  </update>
  
  <select id="selectByUserId" parameterType="java.lang.Integer" resultType="com.being.model.WalletInfo">
    select id, user_id as userId, available_balance as availableBalance, lock_balance as lockBalance, activity_balance as activityBalance, 
    create_time as createTime, create_id as createId, update_time as updateTime, update_id as updateId
    from wallet_info
    where user_id = #{userId,jdbcType=BIGINT}
  </select>
  
</mapper>